######################################################################
#                              GITIGNORE                             #
######################################################################

builds/
__pycache__/
.idea/
.vscode/
src/__pycache__
src/electric.egg-info
Database/__pycache__
src/Classes/__pycache__
Dev/
superlog.txt
supercache.json
electric-log.log
src/build
src/electric.spec
src/dist
Inno Setup/
src/Pipfile.lock
src/Pipfile
tests/__pycache__
test.py
src/eel/__pycache__
src/rust/launcher/target
src/rust/completer/target
src/rust/installer/target