######################################################################
#                              GITIGNORE                             #
######################################################################

__pycache__/
.idea/
.vscode/
src/__pycache__
src/electric.egg-info
Database/__pycache__
src/Classes/__pycache__
Private/
superlog.txt
supercache.json
electric-log.log